@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&display=swap");

body {
  font-family: Mukta;
  margin: 0;
}

.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.menu__item {
  margin-right: 50px;
}

.menu__item a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

.carousel img {
  width: 100%;
}

.cards {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -100px;
}

.card {
  text-align: center;
  width: 300px;
  background-color: #fff;
  padding: 70px 20px;
}

.card__image {
  width: 70px;
  margin-bottom: 50px;
}
